<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <!-- info -->
      <v-system-bar v-if="!isMobile" fixed height="48" color="#c1ff72">
        <v-container class="d-flex align-center justify-center">
          <span class="title font-weight-bold black--text mr-4">Ikuti kelas GRATIS sekarang juga!</span>
          <v-btn text class="info-btn">
            <span class="title font-weight-bold ">Free Class</span>
            <v-icon size="24" class="ml-4" color="">ri-arrow-right-line</v-icon>
          </v-btn>
        </v-container>
      </v-system-bar>

      <!-- Appbar -->
      <v-app-bar :class="!isMobile?'mt-12':''" fixed color="white" flat tile :height="isMobile ? 64 : 80"
        :max-height="isMobile ? 64 : 80">
        <v-container class="fill-height py-0">
          <v-btn v-if="isMobile" class="ml-n4" icon @click.stop="drawer = !drawer">
            <v-icon>ri-menu-2-line</v-icon>
          </v-btn>

          <v-spacer v-if="isMobile"></v-spacer>
          <v-toolbar-title class="brand-logo" :class="isMobile ? 'ml-4' : ''">
            <a href="/">
              <img
                src="//fs-thb01.getcourse.ru/fileservice/file/thumbnail/h/4ff4319244ae6d88c829bff4676b663c.png/s/200x200/a/593799"
                class="float-left" />
            </a>
          </v-toolbar-title>
          <v-spacer></v-spacer>

          <!-- menus -->
          <v-spacer></v-spacer>
          <div v-if="!isMobile">
            <v-btn text rounded href="#program" class="toolbar-menu font-weight-bold">
              Program
            </v-btn>
            <v-btn text rounded href="#aboutus" class="toolbar-menu font-weight-bold">
              About Us
            </v-btn>
            <v-btn text rounded href="#" class="toolbar-menu font-weight-bold">
              Podcast
            </v-btn>
            <v-btn text rounded href="#" class="toolbar-menu font-weight-bold">
              Article
            </v-btn>
            <v-btn large rounded depressed color="secondary" href="/cms/system/login" class="bg-white px-6 ml-6">
              Placement Test
            </v-btn>
            <v-btn large rounded depressed outlined color="primary" href="https://sekolahbahasa.com/cms/system/login"
              class="bg-white px-6 ml-6">
              Login
            </v-btn>
          </div>
        </v-container>
      </v-app-bar>

      <!-- Drawer -->
      <v-navigation-drawer v-if="isMobile" v-model="drawer" temporary fixed>
        <v-list>
          <v-list-item class="py-1">
            <img height="32"
              src="//fs-thb01.getcourse.ru/fileservice/file/thumbnail/h/4ff4319244ae6d88c829bff4676b663c.png/s/200x200/a/593799" />
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item href="/" link>
            <v-list-item-icon>
              <v-icon size="20"> ri-home-6-line </v-icon>
            </v-list-item-icon>

            <v-list-item-content class="ml-n4">
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item href="/promo" link>
            <v-list-item-icon>
              <v-icon size="20"> ri-coupon-line </v-icon>
            </v-list-item-icon>
            <v-list-item-content class="ml-n4">
              <v-list-item-title>Promo</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item href="#program" link>
            <v-list-item-icon>
              <v-icon size="20"> ri-book-read-line </v-icon>
            </v-list-item-icon>
            <v-list-item-content class="ml-n4">
              <v-list-item-title>Program</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item href="#aboutus" link>
            <v-list-item-icon>
              <v-icon size="20"> ri-information-line </v-icon>
            </v-list-item-icon>

            <v-list-item-content class="ml-n4">
              <v-list-item-title>About Us</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

      <!-- Main -->
      <v-main>
        <!-- Hero -->
        <section class="hero d-flex">
          <v-container class="main-container grow d-flex flex-column flex-nowrap py-0">
            <v-row class="grow">
              <v-col cols="12" md="6" align-self="center" class="py-0" :class="isMobile ? 'text-center' : ''">
                <h5 :class="isMobile ? 'headline' : 'display-1'"
                  class="stroke-1 primary--text mb-8 mt-16 font-weight-bold" :data-text="hero.text.leading">
                  {{hero.text.leading}}
                </h5>
                <h3 :class="isMobile ? 'display-1' : 'display-3'">
                  <span class="stroke-2 d-inline-block mb-4" :data-text="hero.text.heading.first">
                    {{hero.text.heading.first}}
                  </span>
                  <span class="stroke-2 d-inline-block font-weight-bold" :data-text="hero.text.heading.last">
                    {{hero.text.heading.last}}
                  </span>
                </h3>
                <p class="stroke-1 title mt-8" :data-text="hero.text.description">
                  {{hero.text.description}}
                </p>
                <div class="mt-12" :class="!isMobile ? 'text-right' : ''">
                  <v-btn depressed rounded :x-large="!isMobile" :large="isMobile" color="secondary">
                    <span class="mr-4 text-uppercase font-weight-bold">Temukan Kelas Pilihamu</span>
                    <v-icon size="20">ri-arrow-right-line</v-icon>
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </section>

        <!-- Join Us -->
        <section id="join-us" class="join-us">
          <v-container class="main-container">
            <v-row justify="center">
              <v-col cols="12" md="8" class="text-center">
                <h3 class="heading primary--text" :class="isMobile ? 'headline' : 'display-2'">
                  {{joinUs.heading}}
                </h3>
                <div class="title">
                  {{joinUs.description}}
                </div>
              </v-col>
            </v-row>
            <v-row justify="center" class="mt-16">
              <v-col cols="12" md="3" v-for="(item, index) in joinUs.items">
                <v-card flat class="mb-8">
                  <div class="wrapper">
                    <span class="leading display-1">
                      0{{index+1}}
                    </span>
                    <div class="wrapper-img">
                      <v-avatar color="white" size="200">
                        <img :src="item.image" />
                      </v-avatar>
                    </div>
                  </div>
                  <v-card-title class="d-block text-center">{{item.title}}</v-card-title>
                  <v-card-text class="text-center">{{item.description}}</v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </section>

        <!-- British Council -->
        <v-container class="main-container">
          <v-card flat dark rounded="xxl" color="secondary" class="mx-auto pa-16">
            <v-row justify="center" align="center">
              <v-col cols="12" md="2" class="text-center">
                <img src="./assets/img/british-council.png" alt="british-council">
              </v-col>
              <v-col cols="12" md="10" class="title">
                <v-card-text class="headline">
                  Mata pelajaran dan kurikulum kami terus diperbarui sesuai dengan pedoman
                  terbaru dari British Council, memastikan relevansi dan daya saing dalam
                  pembelajaran bahasa.
                </v-card-text>
              </v-col>
            </v-row>
          </v-card>
        </v-container>

        <!-- Placement Test Council -->
        <section>
          <v-container class="main-container">
            <h3 class="heading primary--text text-center" :class="isMobile ? 'headline mb-8' : 'display-2 mb-16'">
              CARA PLACEMENT TEST
            </h3>
            <v-row justify="center">
              <v-col cols="12" md="6" v-if="!isMobile">
                <img src="./assets/img/placement_test/img.png" alt="placement_test" class="rounded-xl">
              </v-col>
              <v-col cols="12" md="6">
                <v-card outlined rounded="xl" class="pa-8">
                  <img src="./assets/img/placement_test/how_to.jpg" alt="placement_test">
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </section>

        <!-- About -->
        <section id="about" class="about">
          <v-container class="main-container">
            <v-row justify="center">
              <v-col cols="12" md="8" class="text-center">
                <div class="heading-lead text-uppercase title">About</div>
                <h3 class="font-weight-bold mb-16" :class="isMobile ? 'headline' : 'display-1'">
                  Apa itu Sekolah Bahasa?
                </h3>
                <v-card flat dark rounded="xl" width="700" color="#3F2179" class="mx-auto pa-8">
                  Sekolah Bahasa adalah platform pembelajaran secara daring yang
                  dapat diakses kapanpun dan dimanapun dengan memanfaatkan
                  metodologi dan teknologi pengajaran modern melalui
                  pembelajaran yang intensif, fleksibel dan mudah digunakan
                  setiap hari oleh penggunanya
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </section>
      </v-main>
    </v-app>
  </div>

  <link href="./assets/css/style.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      computed: {
        isMobile() {
          switch (this.$vuetify.breakpoint.name) {
            case "xs":
              return true;
            case "sm":
              return true;
            case "md":
              return false;
            case "lg":
              return false;
            case "xl":
              return false;
          }
        },
      },
      data() {
        return {
          drawer: false,
          dialog: false,
          hero: {
            text: {
              leading: 'Mau Pede Ngomong Pake Bahasa Asing ?',
              heading: {
                first: 'Transforming Words',
                last: 'into Worlds',
              },
              description: 'Kembangkan kemampuan bahasa asing Kamu dengan instruktur berpengalaman dan kurikulum ter-updates agar Kamu lebih percaya diri dan meraih kesuksesan.',
            }
          },
          joinUs: {
            heading: 'BELAJAR DI SEKOLAH BAHASA',
            description: 'Bergabunglah dengan kami di Sekolah Bahasa dan hadapi perjalanan bahasa Anda dengan percaya diri.Pilih layanan yang sesuai dengan kebutuhan Anda dan raih kemampuan bahasa yang Anda impikan!',
            items: [
              {
                title: 'APPROVED PARTNER',
                description: 'Jaminan kualitas internasional dengan menjadi mitra resmi British Council. Pelajari bahasa dengan standar global dan sertifikat yang diakui secara internasional.',
                icon: 'ri-user-star-line',
                image: './assets/img/join_us/01.png'
              },
              {
                title: 'TWO-WAY LEARNING',
                description: 'Pengalaman belajar interaktif dengan pendekatan dua arah. Bukan hanya mendengar, tetapi juga berbicara secara aktif untuk pertumbuhan bahasa yang optimal.',
                icon: 'ri-apps-line',
                image: './assets/img/join_us/02.png'
              },
              {
                title: 'SKILL TAILORED',
                description: 'Program pembelajaran yang disesuaikan dengan kebutuhan individu. Fokus pada pengembangan keterampilan yang spesifik sesuai dengan tujuan belajar Anda.',
                icon: 'ri-apps-line',
                image: './assets/img/join_us/03.png'
              },
              {
                title: 'SEBA CLUB',
                description: 'Dapatkan akses eksklusif ke kegiatan dan pengalaman belajar tambahan melalui keanggotaan Seba Club. Jelajahi beragam acara dan inisiatif komunitas kamii.',
                icon: 'ri-apps-line',
                image: './assets/img/join_us/04.png'
              },
              {
                title: 'PODCAST LEARNING',
                description: 'Temukan metode pembelajaran yang inovatif melalui podcast kami. Dengarkan materi pembelajaran yang menarik dan mendalam, menjadikan proses belajar lebih dinamis dan menyenangkan.',
                icon: 'ri-apps-line',
                image: './assets/img/join_us/05.png'
              }
            ]
          }
        }
      }
    })
  </script>
</body>

</html>